includeConfig 'JointCaller.hg38.local.config'

process.executor = 'pbspro'
process.clusterOptions = '-S /bin/bash'
process.errorStrategy = 'finish'

profiles {
  gadi {
    process {
      executor = 'pbspro'
      clusterOptions = '-S /bin/bash -q normal'
      project = 'np30'
      storage = 'scratch/np30+gdata/np30'
    }
  }
  gatk4 {
    process {
      container = '/g/data/np30/users/nn6960/ref38/genomes-in-the-cloud_2.3.1-1512499786.sif'
      clusterOptions = '-S /bin/bash -l mem=20G -l jobfs=15625M -l storage=scratch/np30+gdata/np30'
    }
    singularity {
      container = '/opt/singularity/bin/singularity'
      runOptions = '--bind "/g/data"'
      enabled = true
    }
  }
}
